<div *ngIf="movie; else loader">
  <div class="page-title">
    <h4>
      <a [routerLink]="['/movies']">Фильмы</a>
      <i class="material-icons">keyboard_arrow_right</i>
      {{movie.name}}
    </h4>
    <button
      class="btn btn-small red"
      (click)="deleteMovie(movie._id)"
    >
      <i class="material-icons left">delete_forever</i>
      Удалить
    </button>
    <button
      class="btn btn-small"
      (click)="updateMovie(movie._id)"
    >
      <i class="material-icons left">edit</i>
      Редактировать
    </button>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card horizontal card-font">
        <div class="card-image">
          <img src="{{movie.poster}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{movie.name}}</p>
            <p>{{movie.year}}</p>
            <p>{{category.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s8 m6">
      <div class="card horizontal card-font">
        <div class="card-stacked">
          <div class="card-content">
            <p>Средняя оценка</p>
            <bar-rating [(rate)]="movieRate" [max]="5" [readOnly]="true"></bar-rating>
          </div>
        </div>
      </div>
    </div>
    <div class="col s8 m6">
      <div class="card horizontal card-font">
        <div class="card-stacked">
          <div class="card-content">
            <p>Моя оценка</p>
            <bar-rating [(rate)]="userRate" [max]="5" [readOnly]="vote && vote.mark > 0"></bar-rating>
            <button
              [disabled]="vote && vote.mark > 0"
              class="btn btn-small"
              (click)="createVote()"
            >
              <i class="material-icons left">edit</i>
              Оценить
            </button>
            <button
              *ngIf="vote && vote.mark > 0"
              class="btn btn-small"
              (click)="changeVote()"
            >
              <i class="material-icons left">update</i>
              Изменить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Сюжет</span>
          <p>{{movie.about}}</p>
        </div>
      </div>
    </div>
  </div>
  <ul class="collection" *ngIf="movie.actors.length > 0; else empty">
    <li class="collection-item avatar" *ngFor="let actor of movie.actors">
      <img src="{{actor.photo}}" alt="" class="circle">
      <span class="title">{{actor.surname}} {{actor.name}}</span>
      <p>{{actor.year}} <br>
      </p>
      <a [routerLink]="['/actors', actor._id]" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
  </ul>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<ng-template #empty>
  Нет актеров
</ng-template>
