<div class="page-title">
  <h4>Пользователи</h4>
  <button
    class="waves-effect waves-light btn grey darken-1"
    (click)="onAddUser()"
  >Добавить пользователя
  </button>
</div>

<table class="striped" *ngIf="users$ | async as users; else loader">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Логин</th>
    <th>Админ</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.login}}</td>
    <td class="material-icons">{{user.isAdmin ? 'done':''}}</td>
    <td>
      <button
        class="btn btn-small red"
        (click)="deleteUser(user._id)"
      >
        <i class="material-icons left">delete_forever</i>
        Удалить
      </button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
