<div class="page-title">
  <h4>Категории</h4>
  <button
    class="waves-effect waves-light btn grey darken-1"
    (click)="onAddCategory()"
  >Добавить категорию
  </button>
</div>

<div
  class="row"
  *ngIf="categories$ | async as categories; else loader"
>
  <div class="col s12">
    <div class="collection" *ngIf="categories.empty !== 0; else empty">
      <a
        *ngFor="let category of categories"
        (click)="onSelectCategory(category)"
        class="collection-item"
      >
        {{category.name}}</a>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<ng-template #empty>
  У вас нет категорий
</ng-template>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">{{category !== null ? 'Редактировать': 'Добавить'}} категорию</h4>
      <div class="input-field">
        <input
          id="name"
          type="text"
          formControlName="name"
        >
        <label for="name">Название</label>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat">Отмена</a>
      <button
        class="modal-action btn waves-effect"
        type="submit"
      >Сохранить</button>
    </div>
  </div>
</form>
