<div *ngIf="actor; else loader">
  <div class="page-title">
    <h4>
      <a [routerLink]="['/actors']">Актер</a>
      <i class="material-icons">keyboard_arrow_right</i>
      {{actor.surname}}, {{actor.name}}
    </h4>
    <button
      class="btn btn-small red"
      (click)="deleteActor(actor._id)"
    >
      <i class="material-icons left">delete_forever</i>
      Удалить
    </button>
    <button
      class="btn btn-small"
      (click)="updateActor(actor._id)"
    >
      <i class="material-icons left">edit</i>
      Редактировать
    </button>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card horizontal card-font">
        <div class="card-image">
          <img src="{{actor.photo}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{actor.surname}}</p>
            <p>{{actor.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="collection" *ngIf="actorsMoviesArray.length > 0; else empty">
    <li class="collection-item avatar" *ngFor="let movie of actorsMoviesArray">
      <img src="{{movie.poster}}" alt="" class="circle">
      <span class="title">{{movie.name}}</span>
      <p>{{movie.year}} <br>
      </p>
      <a [routerLink]="['/movies', movie._id]" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
  </ul>

</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<ng-template #empty>
  У этого актера нет фильмов
</ng-template>
