<div *ngIf="actor; else loader">
  <div class="page-title">
    <h4>
      <a [routerLink]="['/actors']">Актер</a>
      <i class="material-icons">keyboard_arrow_right</i>
      {{actor.name}} {{actor.surname}}
    </h4>
    <button
      class="btn btn-small red"
      (click)="deleteActor(actor._id)"
    >
      <i class="material-icons left">delete_forever</i>
      Удалить
    </button>
  </div>
  <div class="row">
    <div class="col s12 m7">
      <div class="card horizontal card-font">
        <div class="card-image">
          <img src="{{actor.photo}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{actor.name}}</p>
            <p>{{actor.surname}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
