<div class="page-title">
  <h4>Фильмы</h4>
  <button *ngIf="isAdmin"
          class="waves-effect waves-light btn grey darken-1"
          (click)="onAddMovie()"
  >Добавить фильм
  </button>
</div>
<div
  class="frow order-row"
  *ngIf="movies; else loader"
>
  <div *ngIf="movies.length !== 0; else empty">
    <ul class="pagination">
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
      <li class="active" *ngFor="let page of pages; let i = index" >{{i+1}}</li>
      <li class="waves-effect" (click)="nextPage()"><i class="material-icons">chevron_right</i></li>
    </ul>
    <div
      class="card waves-effect pointer"
      *ngFor="let movie of movies"
      [routerLink] = "['/movies', movie._id]"
    >
      <div class="center">
        <img src="{{movie.poster}}" class="responsive-img order-img">
      </div>
      <div class="card-content center p10">
        <h5 class="m0">{{movie.name}}</h5>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<ng-template #empty>
  в фильме нет актеров
</ng-template>
