<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="page-title">
    <h4>
      <a [routerLink]="['/movies']">Фильмы</a>
      <i class="material-icons">keyboard_arrow_right</i>
      Добавить фильм
    </h4>
    <button
      class="modal-action btn waves-effect"
      type="submit"
      [disabled]="form.invalid || form.disabled"
    >Сохранить фильм
    </button>
  </div>
  <br>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img
            class="activator"
            [src]='imagePreview'
            *ngIf="imagePreview"
          >
        </div>
        <div class="card-action">
          <input
            type="file"
            class="dn"
            (change)="onFileUpload($event)"
            #input>
          <button
            class="waves-effect waves-light btn"
            (click)="triggerClick()"
          >
            <i class="material-icons left">backup</i>
            Постер
          </button>
        </div>
      </div>
    </div>
    <div class="input-field col s4">
      <input
        id="name"
        type="text"
        formControlName="name"
        [ngClass]="{invalid:form.get('name').invalid && form.get('name').touched}"
      >
      <label for="name">название фильма</label>
      <span class="helper-text red-text"
            *ngIf="form.get('name').touched"
      >
        <span *ngIf="form.get('name').errors !== null && form.get('name').errors['required']">Название фильма должно быть заполнено</span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <input
        id="year"
        type="number"
        formControlName="year"
      >
      <label for="name">Год выхода фильма</label>
    </div>
    <div class="input-field col s4">
      <select
        #selectCategories
        class="icons"
        formControlName="category"
      >
        <option
          *ngFor="let category of categories"
          value="{{category._id}}"
          class="left"
        >
          {{category.name}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">Сюжет</span>
          <div class="input-field">
            <textarea
              id="textarea"
              class="materialize-textarea"
              formControlName="about"
            ></textarea>
            <span class="helper-text red-text"
                  *ngIf="form.get('about').touched"
            >
            <span *ngIf="form.get('about').errors !== null && form.get('about').errors['required']">Сюжет фильма должен быть заполнен</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">В ролях</span>
          <div class="input-field">
            <select
              #selectActors
              multiple class="icons"
              formControlName="actors"
            >
              <option
                *ngFor="let actor of actors"
                value="{{actor._id}}"
                data-icon=""
                class="left"
              >
                {{actor.surname}} {{actor.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
